<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <title>Order#111</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="css\style.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="js\jfcore.js"></script>
    <script type="text/javascript" src="js\order.js"></script>


    <!-- Set here the key for your domain in order to hide the watermark on the web server -->
    <script type="text/javascript">
        (function () {
            JC.init({domainKey: ''});
        })();
    </script>

</head>
<body>

<div class="wrap">

    <!-- tab style-1 -->
    <div class="row">

        <!-- 1 BLOCK-->


        <!--2 BLOCK-->


        <!-- 3 BLOCK -->


        <!--NEW FORM-->

        <form class="form" action="/order" th:action="@{/order}" method="post">


            <div class="grid_12 columns"
                 style="position: absolute; top: 60.3333px; left: 190.5px; width: 250px; height: 122px;">
                <div class="tab style-2">
                    <ul>
                        <li class="active">

                            <input type="text" id="firstName" placeholder="First Name"
                                   th:field="*{orderForm.fullName}"
                                   class="active textbox" value="Frist Name" onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = 'Full name';}"/>
                            <!-- SELECT COMPANY-->
                            <select style="position: absolute; top: -80.3333px; left: -37.5px;width: 82px; height: 25px;">
                                <option
                                        th:each="company : ${company}"
                                        th:value="${company}"
                                        th:text="#{${company}}">

                                </option>
                            </select>

                            <!--CUSTOMER DATA -->

                            <input type="text" placeholder="Phone" th:field="*{orderForm.phoneNumber} "
                                   class="textbox"
                                   value="Phone" onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = 'Phone';}"/>

                            <input type="text" placeholder="E-mail" th:field="*{orderForm.mail} "
                                   class="textbox"
                                   value="E-mail" onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = 'E-mail';}"/>

                            <!--HOW DID YOU HEAR ABOUT US ?-->


                            <select style="position: absolute; top: 70.3333px; left: -37.5px;width: 115px; height: 25px;">


                                    <option
                                            th:each="advertisement : ${adv}"
                                            th:value="${advertisement}"
                                            th:text="#{${advertisement}}">

                                    </option>

                            </select>

                            <!--Trucks-->
                            <select style="position: absolute; top: 155.3333px; left: -35.5px;width: 55px; height: 25px;">

                                <option
                                        th:each="truck : ${truck}"
                                        th:value="${truck}"
                                        th:text="#{${truck}}">

                                </option>
                            </select>

                            <!-- movers-->
                            <select style="position: absolute; top: 155.3333px; left: 36.5px;width: 70px; height: 25px;">


                                <option
                                        th:each="movers : ${movers}"
                                        th:value="${movers}"
                                        th:text="#{${movers}}">

                                </option>



                            </select>

                            <!-- service charge -->

                            <select style="position: absolute; top: 195.3333px; left: -35.5px;width: 110px; height: 25px;">
                                <option
                                        th:each="serviceCharge : ${serviceCharge}"
                                        th:value="${serviceCharge}"
                                        th:text="#{${serviceCharge}}">

                                </option>
                            </select>

                            <!-- Shrink -->

                            <select style="position: absolute; top: 235.3333px; left: -35.5px;width: 50px; height: 25px;">
                                <option
                                        th:each="shrink : ${shrink}"
                                        th:value="${shrink}"
                                        th:text="#{${shrink}}">

                                </option>
                            </select>

                            <!--tape-->
                            <select style="position: absolute; top: 275.3333px; left: -35.5px;width: 45px; height: 25px;">
                                <option
                                        th:each="tape : ${tape}"
                                        th:value="${tape}"
                                        th:text="#{${tape}}">

                                </option>
                            </select>

                            <!--heavy item-->
                            <select style="position: absolute; top: 316.3333px; left: -35.5px;width: 90px; height: 25px;">
                                <option
                                        th:each="heavyitem : ${heavyitem}"
                                        th:value="${heavyitem}"
                                        th:text="#{${heavyitem}}">

                                </option>
                            </select>
                            <!--DDT-->
                            <p style="position: absolute; top: 400.3333px; left: 5.5px; width: 95px; height: 20px;"
                               type="button" id="DDT" class="button">

                                DDT
                            </p>

                            <!--Storage-->
                            <p style="position: absolute; top: 446.3333px; left: 5.5px; width: 95px; height: 20px;"
                               type="button" id="" class="button">

                                Storage
                                <input type="checkbox" name="COUPON" value="ON"/>
                            </p>

                            <!--size of storage-->
                            <select style="position: absolute; top: 402.3333px; left: 115.5px;width: 35px; height: 25px;">

                            </select>


                        </li>
                    </ul>
                </div>
            </div>


            <div  class="grid_12 columns "
                 style="position: absolute; top: 60.3333px; left: 415.5px; width: 250px; height: 237px;">

                <div class="tab style-2">
                    <ul>
                        <li class="active">


                            <!-- SIZE OF MOVE-->

                            <select style="position: absolute; top: -80.3333px; left: -37.5px;width: 100px; height: 25px;">
                                <option
                                        th:each="sizeOfMove : ${sizeOfMove}"
                                        th:value="${sizeOfMove}"
                                        th:text="#{${sizeOfMove}}">

                                </option>

                            </select>

                            <div id="loadAddressDiv">
                                <input type="text" class="loadAddress" placeHolder="Loading Address" value=""
                                       id="loadAddress1"/>
                            </div>
                            <div id="unloadAddressDiv">
                                <input type="text" class="textbox" placeHolder="Unloading Address" value=""
                                       id="unloadAddress1"/>
                            </div>
                            <div>
                                <p style="position: absolute; top: 0.3333px; left: 320.5px; width: 80px; height: 20px;"
                                   type="button" class="button" id="addLoadAddress">
                                    Add load</p>

                                <p style="position: absolute; top: 53.3333px; left: 320.5px; width: 80px; height: 20px;"

                                   type="button" class="button" id="addUnloadAddress">Add unload</p>

                            </div>

                            <input type="hidden" id="loadingAddresses" th:field="*{orderForm.loadingAddress}"/>
                            <input type="hidden" id="unloadingAddresses" value=""/>



                            <p style="width: 100px; height: 20px;" type="button" id="Move date" class="button">

                                Move date
                            </p>

                            <p style="width: 100px; height: 20px;" type="button" id="Estimate date" class="button">

                                Estimate date
                            </p>

                            <p style="width: 100px; height: 20px;" type="button" id="Package date" class="button">

                                Package date
                            </p>
                            <p style="position: absolute; top: 445.3333px; left: 23.5px;width: 100px; height: 20px;"
                               type="button" id="Storage date" class="button">

                                Storage date
                            </p>

                        </li>
                    </ul>
                </div>
            </div>

            <div class="grid_12 columns"
                 style="position: absolute; top: 60.3333px; left: 620.5px; width: 150px; height: 45px;">

                <div class="tab style-2">
                    <ul>
                        <li class="active">


                            <div id="zipFromDiv">
                                <input style="width: 54px; height: 17px;"
                                       class="zipCode" type="text"
                                       placeholder="Zip from" id="zipFrom1" value=""/>
                            </div>


                            <div id="zipToDiv">
                                <input style="width: 54px; height: 17px;" type="text" placeholder="Zip to"
                                       th:field="*{orderForm.zipTo}"
                                       class="textbox" value="Zip to" onfocus="this.value = '';"
                                       onblur="if (this.value == '') {this.value = 'Zip to';} "/>
                            </div>

                            <div>
                                <input style="position: absolute; top: 205.3333px; left: 0.5px;width: 64px; height: 17px;"
                                       class="zipCode" type="text"
                                       placeholder="0.00" id="sum" value=""/>
                            </div>
                            <div>
                                <input style="position: absolute; top: 245.3333px; left: 0.5px;width: 64px; height: 17px;"
                                       class="zipCode" type="text"
                                       placeholder="0.00" id="sum1" value=""/>
                            </div>

                            <div>
                                <input style="position: absolute; top: 285.3333px; left: 0.5px;width: 64px; height: 17px;"
                                       class="zipCode" type="text"
                                       placeholder="0.00" id="sum2" value=""/>
                            </div>
                            <div>
                                <input style="position: absolute; top: 325.3333px; left: 0.5px;width: 64px; height: 17px;"
                                       class="zipCode" type="text"
                                       placeholder="0.00" id="sum3" value=""/>
                            </div>

                            <div>
                                <input style="position: absolute; top: 365.3333px; left: 0.5px;width: 64px; height: 17px;"
                                       class="zipCode" type="text"
                                       placeholder="0.00" id="sum4" value=""/>


                                <!--Labor-->
                                <p style="position: absolute; top: -40.3333px; left: 0.0px; width: 65px; height: 20px;"
                                   type="button" id="labor" class="button">
                                    <!--name="removeRow"-->
                                    <!--th:text="#{orderForm.row.remove}">-->
                                    Labor
                                    <input type="checkbox" name="COUPON" value="ON"/>
                                </p>

                            </div>
                            <div>
                                <input style="position: absolute; top: 405.3333px; left: 0.5px;width: 64px; height: 17px;"
                                       class="zipCode" type="text"
                                       placeholder="0.00" id="sum5" value=""/>
                            </div>
                            <div>
                                <input style="position: absolute; top: 445.3333px; left: 0.5px;width: 64px; height: 17px;"
                                       class="zipCode" type="text"
                                       placeholder="0.00" id="sum6" value=""/>
                            </div>


                        </li>
                    </ul>
                </div>
            </div>

            <input style="position: absolute; top: 635.3333px; left: 380.5px; width: 80px; height: 20px;"
                   type="submit" value="order"/>

            <p style="position: absolute; top: 650.3333px; left: 230.5px; width: 80px; height: 20px;"
               type="button" id="submitOrder" class="button">

                Booked
            </p>
        </form>
    </div>

</div>
</body>
</html>