<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Royal CRM</title>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
    <!--integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>-->
    <link rel="stylesheet" href="css\bootstrap.min.css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/nbStyles.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Royal CRM</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="/login">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search..."/>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="ch">
            <a class="aov" href="../index.html">
                <span class="bv act aow"></span>
            </a>
            <div class="aoz">
                <ul class="nav of aox">
                    <li>
                        <a data-original-title="Signed in as mdo" href="#" title="" data-toggle="tooltip"
                           data-placement="right" data-container="body">
                            <img src="/images/avatars.png" alt="" class="cs cn"/>
                        </a>
                    </li>
                    <li>
                        <a data-original-title="Overview" href="/Dashboard" title="" data-toggle="tooltip"
                           data-placement="right" data-container="body">
                            <span class="glyphicon glyphicon-search bv aie"></span>
                        </a>
                    </li>
                    <li>
                        <a data-original-title="Order history" href="/Lead" title="" data-toggle="tooltip"
                           data-placement="right" data-container="body">
                            <span class="glyphicon glyphicon-search bv abw"></span>
                        </a>
                    </li>
                    <li>
                        <a data-original-title="Fluid layout" href="/Follow-up" title="" data-toggle="tooltip"
                           data-placement="right" data-container="body">
                            <span class="glyphicon glyphicon-search bv abh"></span>
                        </a>
                    </li>
                    <li class="active">
                        <a data-original-title="Icon-nav layout" href="/E-mail" title="" data-toggle="tooltip"
                           data-placement="right" data-container="body">
                            <span class="glyphicon glyphicon-search bv vd"></span>
                        </a>
                    </li>
                    <li>
                        <a data-original-title="Docs" href="/calendar" title="" data-toggle="tooltip"
                           data-placement="right" data-container="body">
                            <span class="glyphicon glyphicon-search bv ade"></span>
                        </a>
                    </li>
                    <li>
                        <a data-original-title="Light UI" href="/Task manager" title="" data-toggle="tooltip"
                           data-placement="right" data-container="body">
                            <span class="glyphicon glyphicon-search bv aak"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <form class="form" action="/order" th:object="${orderForm}" th:action="@{/order}" method="post">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="row placeholders">

                </div>
                <!-- CLIENT INFO-->
                <h2 class="page-header  ">Client info &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Moving Info
                </h2>
                <div class="table-responsive">
                    <table style="width: 84%;" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1232153">Company</span>
                                    <div class="dropdown">
                                        <select class="form-control" id="company" th:field="*{company}">
                                            <option th:each="company : ${actualListCompany}"
                                                    th:value="${company}"
                                                    th:text="#{${company}}">Wireframe
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon17">Size of move</span>
                                    <div class="dropdown">
                                        <select style="width: 55%;" class="form-control" id="sizeOfMove"
                                                th:field="*{sizeOfMove}">
                                            <option th:each="sizeOfMove : ${actualListSizeOfMove}"
                                                    th:value="${sizeOfMove}"
                                                    th:text="#{${sizeOfMove}}">Wireframe
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                    Labor&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="vehicle" value="Bike"/>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <thead>
                        <tr>
                            <th style="width: 25%;">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon11236">Name</span>
                                    <input type="text" class="form-control" th:field="*{fullName}" placeholder="Name"
                                           aria-describedby="basic-addon1"/>
                                </div>
                            </th>
                            <th>
                                <div id="loadAddressDiv" class="input-group">
                                    <span class="input-group-addon" id="basic-addon1512">Address from</span>
                                    <input type="text" class="form-control" placeholder="Address from"
                                           aria-describedby="basic-addon1"/>
                                </div>
                            </th>
                            <th>
                                <div id="zipFromDiv" class="input-group">
                                    <span class="input-group-addon" id="basic-addon13456">Zip from</span>
                                    <input style="width: 39.5%;" type="text" class="form-control" placeholder="Zip from"
                                           aria-describedby="basic-addon1"/>
                                    <input type="hidden" id="loadingAddresses" th:field="*{loadingAddress}"/>
                                    <button class="btn btn-default col-md-offset-2" type="button" id="addLoadAddress">
                                        add
                                    </button>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <thead>
                        <tr>
                            <th>
                                <div class="input-group">
                                    <span class="input-group-addon"
                                          id="basic-addon1723">E-mail</span>
                                    <input type="text" class="form-control" th:field="*{mail}" placeholder="E-mail"
                                           aria-describedby="basic-addon1"/>
                                </div>
                            </th>
                            <th>
                                <div id="unloadAddressDiv" class="input-group">
                                    <span class="input-group-addon "
                                          id="basic-addon1435">Address to</span>
                                    <input style="width: 100%" type="text" class="form-control"
                                           placeholder="Address to"
                                           aria-describedby="basic-addon1"/>
                                    <input type="hidden" id="unloadingAddresses" th:field="*{unLoadingAddress}"/>
                                </div>
                            </th>
                            <th>
                                <div id="zipToDiv" class="input-group">
                                    <span style="width: 27%;" class="input-group-addon"
                                          id="basic-addon16432">Zip to</span>
                                    <input style="width: 39%;" type="text" class="form-control" placeholder="Zip to"
                                           aria-describedby="basic-addon1"/>
                                    <button type="button" id="addUnLoadAddress"
                                            class="btn btn-default  col-md-offset-2">add
                                    </button>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <thead>
                        <tr>
                            <th>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon17432">
                                    Phone
                                    </span>
                                    <input
                                            type="text"
                                            class="form-control"
                                            th:field="*{phoneNumber}"
                                            placeholder="Phone"
                                            aria-describedby="basic-addon1"
                                    />
                                </div>
                            </th>
                            <th>

                                <div class="btn-group" role="group" aria-label="...">
                                    <input id="moveDate" style="width: 66.5%;" type="text" class="form-control"
                                           th:field="*{moveDate}"
                                           aria-describedby="basic-addon1" placeholder="Move date"/>
                                </div>
                                <div class="btn-group" role="group" aria-label="...">
                                    <input id="moveDateTime" style="width: 66.5%;" type="text" class="form-control"
                                           th:field="*{moveDateTime}"
                                           aria-describedby="basic-addon1" placeholder="Move time"/>
                                </div>

                            </th>
                            <th>
                            </th>
                        </tr>
                        </thead>
                        <thead>
                        <tr>
                            <th>


                            </th>
                            <th>
                                <div class="btn-group" role="group" aria-label="...">
                                    <input id="packingDate" style="width: 66.5%;" type="text" class="form-control"
                                           th:field="*{packingDate}"
                                           aria-describedby="basic-addon1" placeholder="Packing date"/>
                                </div>
                                <div class="btn-group" role="group" aria-label="...">
                                    <input id="packingDateTime" style="width: 66.5%;" type="text" class="form-control"
                                           th:field="*{packingDateTime}"
                                           aria-describedby="basic-addon1" placeholder="Packing time"/>
                                </div>
                            </th>
                            <th>
                            </th>
                        </tr>
                        </thead>
                        <thead>
                        <tr>
                            <th>
                                <div class="dropup" role="group" aria-label="...">
                                    <!--<button type="button" class="btn btn-default">Advertisement</button>-->
                                    <select class="form-control" id="advertisement" th:field="*{advertisement}">
                                        <option th:each="ad : ${ads}"
                                                th:value="${ad}"
                                                th:text="#{${ad}}">Wireframe
                                        </option>
                                    </select>
                                </div>
                                <!--<button type="" class="btn btn-default">Submit</button>-->
                                <!--<button class="btn btn-primary" type="submit">-->
                                <!--Save-->
                                <!--</button>-->
                            </th>
                            <th>
                                <div class="btn-group" role="group" aria-label="...">
                                    <input id="estimateDate" style="width: 66.5%;" type="text" class="form-control"
                                           th:field="*{estimateDate}"
                                           aria-describedby="basic-addon1" placeholder="Estimate date"/>
                                </div>
                                <div class="btn-group" role="group" aria-label="...">
                                    <input id="estimateDateTime" style="width: 66.5%;" type="text" class="form-control"
                                           th:field="*{estimateDateTime}"
                                           aria-describedby="basic-addon1" placeholder="Estimate time"/>
                                </div>
                            </th>
                            <th>
                            </th>
                        </tr>
                        </thead>
                    </table>
                    <table class="table" style="width: 84%; border-bottom: 0px solid #ddd;">
                        <thead>
                        <tr>
                            <th style="width: 184%;">
                            </th>
                            <th>
                            </th>
                            <th>
                                <button class="btn btn-success" type="submit">
                                    Submit
                                </button>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </form>
        <!-- END CLIENT INFO-->
        <!--PAYMENT DETAILS-->
        <!--<h3 class="sub-header">Payment details</h3>-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header ">Payment details</h2>
            <button class="btn btn-success " id="apply">
                Apply
            </button>
        </div>
        <form class="form" id="paymentsDetailsForm" action="/order" th:object="${paymentsDetailsForm}"
              th:action="@{/order}" method="post">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="table-responsive">
                    <table style="width: 84%;" class="table">
                        <thead>
                        <input type="hidden" id = "companyHidden" th:field="*{company}"> </input>
                        <input type="hidden" id = "companySizeOfMove" th:field="*{sizeOfMove}"> </input>
                        <input type="hidden" id = "companyMoveDate" th:field="*{moveDate}"> </input>
                        <input type="hidden" id = "companyPackingDate" th:field="*{packingDate}"> </input>
                        <input type="hidden" id = "companyZipFrom" th:field="*{zipFrom}"> </input>
                        <input type="hidden" id = "companyZipTo" th:field="*{zipTo}"> </input>
                        <!--COUNTER FIELD "Payment method"-->
                        <tr>
                            <th>
                                <div class="input-group">
                                    <span class="input-group-addon">Payment method</span>
                                    <div class="dropdown">
                                        <select style="width: 64%;" class="form-control" id="paymentMethod"
                                                th:field="*{paymentMethod}">
                                            <option th:each="paymentMethod : ${actualListPaymentMethod}"
                                                    th:value="${paymentMethod}"
                                                    th:text="#{${paymentMethod}}">Wireframe
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                        </tr>
                        <!-- END COUNTER FIELD-->
                        <tr class="active">
                            <th>
                                <div class="input-group">
                                    <span class="input-group-addon">Truck</span>
                                    <div class="dropdown">
                                        <select style="width: 25%;" class="form-control" id="truck" th:field="*{truck}">
                                            <option th:each="truck : ${actualListTruck}"
                                                    th:value="${truck}"
                                                    th:text="#{${truck}}">Wireframe
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon15994223">Movers</span>
                                    <div class="dropdown">
                                        <select style="width: 50%;" class="form-control" id="movers"
                                                th:field="*{movers}">
                                            <option th:each="movers : ${actualListMovers}"
                                                    th:value="${movers}"
                                                    th:text="#{${movers}}">Wireframe
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="dropdown">
                                    <select style="width: 38%;" class="form-control" id="rate"
                                            th:field="*{rateType}">
                                        <option th:each="rateType : ${actualListRateOrFlat}"
                                                th:value="${rateType}"
                                                th:text="#{${rateType}}">Wireframe
                                        </option>
                                    </select>
                                </div>
                            </th>
                            <th style="width: 8%;">
                                <input type="text" id="ratePerHour" th:field="*{ratePerHour}" class="form-control" placeholder="0.00"
                                       aria-describedby="basic-addon1"/>
                            </th>
                        </tr>
                        </thead>
                        <thead>
                        <tr>
                            <th>
                                <div class="input-group">
                                    <span class="input-group-addon">Service charge</span>
                                    <input style="width: 37.5%;" type="text" class="form-control" placeholder="30.00"
                                           aria-describedby="basic-addon1"/>
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                </div>
                            </th>
                            <th>
                                <input type="text" id="serviceCharge" th:field="*{serviceCharge}" class="form-control" placeholder="30.00"
                                       aria-describedby="basic-addon1"/>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            <div class="input-group">
                                <span class="input-group-addon">Tariff</span>
                                <div class="dropdown">
                                    <select id="tariff" class="form-control"
                                            th:field="*{tariff}">
                                        <option th:each="tariff : ${tariffs}"
                                                th:value="${tariff}"
                                                th:text="#{${tariff}}">Wireframe
                                        </option>
                                    </select>
                                </div>
                            </div>
                            </th>
                        </tr>
                        </thead>
                        <thead>
                        <tr class="active">
                            <th>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1593293">Packing materials</span>
                                    <div class="dropdown">
                                        <select id="packingMaterials" class="form-control"
                                                th:field="*{packingMaterial}">
                                            <option th:each="type : ${packingMaterials}"
                                                    th:value="${type}"
                                                    th:text="#{${type}}">Wireframe
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                                <input type="text" id="packingMaterialsSum" th:field="*{packingMaterialsValue}" class="form-control" placeholder="0.00"
                                       aria-describedby="basic-addon1"/>
                            </th>
                        </tr>
                        </thead>
                        <thead>
                        <tr>
                            <th>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon159323293">Shrink</span>
                                    <div class="dropdown">
                                        <select style="width: 30%;" class="form-control" id="shrink"
                                                th:field="*{shrink}">
                                            <option th:each="shrink : ${actualListShrink}"
                                                    th:value="${shrink}"
                                                    th:text="#{${shrink}}">Wireframe
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                                <input type="text" id="shrinkSum" th:field="*{shrinkValue}" thclass="form-control" placeholder="0.00"
                                       aria-describedby="basic-addon1"/>
                            </th>
                        </tr>
                        </thead>
                        <thead>
                        <tr class="active">
                            <th>
                                <div class="input-group">
                                    <span class="input-group-addon">Tape</span>
                                    <div class="dropdown">
                                        <select style="width: 30%;" class="form-control" id="tape" th:field="*{tape}">
                                            <option th:each="tape : ${actualListTape}"
                                                    th:value="${tape}"
                                                    th:text="#{${tape}}">Wireframe
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                                <input type="text" id="tapeSum" th:field="*{tapeValue}" class="form-control" placeholder="0.00"
                                       aria-describedby="basic-addon1"/>
                            </th>
                        </tr>
                        </thead>
                        <thead>
                        <tr>
                            <th>
                                <div class="input-group">
                                    <span class="input-group-addon">Heavy Item</span>
                                    <div class="dropdown">
                                        <select class="form-control" id="heavyItem" th:field="*{heavyItem}">
                                            <option th:each="heavyItem : ${actualListHeavyItem}"
                                                    th:value="${heavyItem}"
                                                    th:text="#{${heavyItem}}">Wireframe
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                </div>
                            </th>
                            <th>
                                <input type="text" class="form-control" placeholder="0.00"
                                       aria-describedby="basic-addon1"/>
                            </th>
                        </tr>
                        <tr class="active">
                            <th>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1233346">DDT</span>
                                    <input style="width: 35.5%;" type="text" class="form-control" placeholder="Miles"
                                           aria-describedby="basic-addon1"/>
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                </div>
                            </th>
                            <th>
                                <input type="text" class="form-control" placeholder="0.00"
                                       aria-describedby="basic-addon1"/>
                            </th>
                        </tr>
                        <tr>
                            <th style="width: 30%">
                                <div class="input-group">
                                    Storage&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="vehicle" value="Bike"/>
                                </div>
                            </th>
                            <th style="width: 10%">
                                <div class="input-group">
                                    <span class="input-group-addon">Size of storage unit</span>
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Size
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="#">1 </a></li>
                                            <li><a href="#">2 </a></li>
                                            <li><a href="#">3 </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button style="width: 120%;" type="button" class="btn btn-default">Date
                                        </button>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <input type="text" class="form-control" placeholder="0.00"
                                       aria-describedby="basic-addon1"/>
                            </th>
                        </tr>
                        <tr class="active">
                            <th>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon12346">Discount</span>
                                    <input style="width: 35.5%;" type="text" id="discount" th:field="*{discount}" class="form-control" placeholder="0.00%"
                                           aria-describedby="basic-addon1"/>
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                </div>
                            </th>
                            <th>
                                <input type="text" id="discountValue" class="form-control" placeholder="0.00"
                                       aria-describedby="basic-addon1"/>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="input-group">
                                    <span class="input-group-addon" >Total for first</span>
                                    <div class="dropdown">
                                        <select class="form-control" id="totalForFirstHours"
                                                th:field="*{totalForFirstHours}">
                                            <option th:each="totalHours : ${actualListTotalForFirstHours}"
                                                    th:value="${totalHours}"
                                                    th:text="${totalHours}">Wireframe
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                                <input type="text" id="totalForHours" class="form-control" placeholder="0.00"
                                       aria-describedby="basic-addon1"/>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>

                        </tr>
                        </thead>
                    </table>
                    <table>
                        <thead>
                        <tr>
                            <th style="width: 40%">
                                <div class="form-group">
                                    <label for="comment">Comment for sales:</label>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </th>
                            <th style="width: 10%">
                                <div class="input-group ">
                                    <!--<span class="input-group-addon " id="basic-addon159931322">Status</span>-->
                                    <div class="dropdown ">
                                        <select id="status" class="form-control" th:field="*{status}">
                                            <option th:each="status : ${actualListStatus}"
                                                    th:value="${status}"
                                                    th:text="#{${status}}">Wireframe
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                            <th style="width: 20%">
                                <div class="input-group col-md-offset-2">
                                    <span class="input-group-addon " >E-mail</span>
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle " type="button"
                                                id="dropdownMenu91445"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Template
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="input-group ">
                                    <span class="input-group-addon" >Follow-up</span>
                                    <!--<div class="dropdown">-->
                                    <button class="btn btn-default " type="button"
                                            id="dropdownMenu152323"
                                            aria-haspopup="true" aria-expanded="true">
                                        Date
                                        <span class="caret"></span>
                                    </button>
                                    <!--</div>-->
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group">
                                    <label for="comment">Comment for manager:</label>
                                    <textarea class="form-control" rows="5" id="commentt"></textarea>
                                </div>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                                <button class="btn btn-success " type="submit">
                                    Submit
                                </button>
                            </th>
                            <th>
                            </th>
                        </tr>
                        <tr class="active">
                            <th>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </form>
        <!-- END PAYMENT DETAILS-->

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p>Choose vehicle and book for time</p>
                    </div>
                    <div class="input-group" style="width: 84%;">
                        <div class="dropdown" >
                            <select class="form-control" id="vehicle">
                                <option th:each="vehicle : ${availableVehicles}"
                                        th:value="${vehicle.id}"
                                        th:text="${vehicle.transportDetails}">Wireframe
                                </option>
                            </select>
                        </div>
                        <div class="input-group">
                            AM&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="vehicle" value="Bike"/>
                        </div>
                        <div class="input-group">
                            PM&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="vehicle" value="Bike"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Book vehicle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
<link rel="stylesheet" type="text/css" href="css/bootstrap-clockpicker.min.css"/>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="js\jfcore.js"></script>
<script type="text/javascript" src="js\order.js"></script>
<script type="text/javascript" src="js\datepicker.js"></script>
<script type="text/javascript" src="js\bootstrap-clockpicker.min.js"></script>
<script type="text/javascript" src="js\form-utils.js"></script>
<script type="text/javascript" src="js\payments-details.js"></script>
</body>
</html>